name: Nimble 2 System Version Release

on:
  release:
    types: [published]

env:
  node_version: 22

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ env.node_version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ env.node_version }}

    - name: Cache Node.js modules
      uses: actions/cache@v4
      with:
        path: .npm
        key: npm-release-${{ github.sha }}-${{ hashFiles('**/package-lock.json') }}
        restore-keys: |
          npm-dev-

    - name: Install Dependencies
      run: npm ci --cache .npm --prefer-offline

    # Builds Packs
    - name: Build System
      run: npm run build

    # get part of the tag after the `v`
    - name: Extract tag version number
      id: get_version
      uses: battila7/get-version-action@v2

    # Substitute the Manifest and Download URLs in the system.json
    - name: Substitute Manifest and Download Links For Versioned Ones
      id: sub_manifest_link_version
      uses: microsoft/variable-substitution@v1
      with:
        files: './dist/system.json'
      env:
        version: ${{steps.get_version.outputs.version-without-v}}
        url: https://github.com/${{github.repository}}
        manifest: https://github.com/${{github.repository}}/releases/latest/download/system.json
        download: https://github.com/${{github.repository}}/releases/download/${{github.event.release.tag_name}}/nimble.zip

    # Create a zip file with all files required by the system to add to the release
    - name: Zip Files
      working-directory: ./dist
      run: zip -r ./nimble.zip ./*

    # Create a release for this specific version
    - name: Update Release with Files
      id: create_version_release
      uses: ncipollo/release-action@v1
      with:
        allowUpdates: true # Set this to false if you want to prevent updating existing releases
        name: ${{ github.event.release.name }}
        draft: false
        token: ${{ secrets.GITHUB_TOKEN }}
        artifacts: './dist/system.json, ./dist/nimble.zip'
        tag: ${{ github.event.release.tag_name }}
        body: ${{ github.event.release.body }}
